.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
/.idea/*
!/.idea/saveactions_settings.xml
!/.idea/codeStyles/

### VS Code ###
.vscode/

### H2 DB ###
data
