<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav th:fragment="navbar" class="container">
        <ul>
            <li>
                <div class="navbar-brand">
                    <img src="images/logo_only.png" alt="Google Drive Organizer Logo" class="navbar-logo"/>
                    <div class="brand-text">
                        <span class="letter-g-blue">G</span><span class="letter-o-red">o</span><span class="letter-o-yellow">o</span><span class="letter-g-blue">g</span><span class="letter-l-green">l</span><span class="letter-e-red">e</span>
                        <span class="brand-text-secondary"> Drive Organizer</span>
                    </div>
                </div>
            </li>
        </ul>
        <ul>
            <li th:if="${navAuthenticated}">
                <span th:text="${navDisplayName}">User Name</span>
            </li>
            <li>
                <a th:if="${navAuthenticated}" href="/logout" role="button" class="secondary">Sign out</a>
                <a th:unless="${navAuthenticated}" href="/oauth2/authorization/google" role="button">Sign in with Google</a>
            </li>
        </ul>
    </nav>
</body>
</html>
