<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Google Drive Organizer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/file-grid.css">
    <script src="/webjars/htmx.org/2.0.8/dist/htmx.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script>
        htmx.logAll();
    </script>
</head>
<body>
<!-- Navigation Bar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Main -->
<main class="container">
    <!-- Google Drive Files Section -->
    <section id="preview" th:if="${navAuthenticated}">
        <div id="file-list-container" hx-get="/api/files" hx-trigger="load" hx-swap="innerHTML">
            <span aria-busy="true">Loading google drive files.</span>
        </div>
    </section>
    <!-- ./ Google Drive Files Section -->
</main>
</body>
</html>