<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample spring with HTMX</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" >
    <script src="/webjars/htmx.org/2.0.8/dist/htmx.min.js"></script>
    <script>
        htmx.logAll();
    </script>
</head>
<body>
<!-- Header -->
<header class="container">
    <hgroup>
        <h1>Basic template</h1>
        <p th:text="${message}">Hello HTMX</p>
    </hgroup>

</header>
<!-- ./ Header -->

<!-- Main -->
<main class="container">
    <section id="auth">
        <div th:if="${authenticated}">
            <p>[[${'Hello ' + displayName}]]</p>
            <a class="contrast" href="/logout">Sign out</a>
        </div>
        <div th:unless="${authenticated}">
            <p>not signed in</p>
            <a class="contrast" href="/oauth2/authorization/google">Sign in with Google</a>
        </div>
    </section>
    <!-- Preview -->
    <section id="preview">
        <h2>Some sub Title</h2>
        <p>
            Sed ultricies dolor non ante vulputate hendrerit. Vivamus sit amet suscipit sapien. Nulla
            iaculis eros a elit pharetra egestas.
        </p>

    </section>
    <!-- ./ Preview -->
</main>
</body>
</html>